.button {

   -fx-background-color : #d5d8de;
   -fx-border-radius : 10px;
   -fx-background-radius : 0px;
   -fx-min-width:80;
}
.button:hover {
    -fx-border-color: #4b79c4 ;
 }
 .command_button{
    -fx-pref-width:190;
    -fx-pref-height:50;
 }
 .symbole{
   -fx-font-size: 18;
 }
 .titre20{
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-underline:true;
 }
 .titre18{
     -fx-font-size:18;
     -fx-font-weight: bold;
 }
 .donnee{
    -fx-pref-width:70;
 }
 .home_font{
    -fx-font-size: 20;
    -fx-cursor:hand;
    -fx-pref-height:200;
    -fx-pref-width:200;
 }
 .root{
 -fx-background-color : #F9F9F9;
 }
 .home{
    -fx-background-image: url("/images/home.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1250 700;
 }
.link:hover{
    -fx-underline:true;
    -fx-fill: #499cd0;
}